 * {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
   font-family: "Poppins", sans-serif;
 }

 body {
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   background: linear-gradient(135deg, #89f7fe, #66a6ff);
   transition: background 1s ease;
 }

 .container {
   background: rgba(255, 255, 255, 0.15);
   backdrop-filter: blur(10px);
   padding: 30px;
   border-radius: 20px;
   box-shadow: 0 4px 30px rgba(0, 0, 0, 0.2);
   text-align: center;
   width: 350px;
   color: #fff;
   transition: 0.5s ease;
 }

 h1 {
   margin-bottom: 15px;
   font-size: 26px;
   font-weight: 600;
 }

 input {
   width: 80%;
   padding: 10px;
   border: none;
   border-radius: 8px;
   outline: none;
   text-align: center;
   font-size: 16px;
   margin-bottom: 10px;
 }

 button {
   padding: 10px 25px;
   border: none;
   border-radius: 8px;
   background-color: #007bff;
   color: white;
   font-size: 16px;
   cursor: pointer;
   transition: 0.3s;
 }

 button:hover {
   background-color: #0056b3;
 }

 .resultado {
   margin-top: 25px;
   color: white;
   font-size: 18px;
   animation: aparecer 0.8s ease;
 }

 .icone {
   font-size: 60px;
   margin: 15px 0;
   animation: aparecer 1s ease-in-out;
 }

 @keyframes aparecer {
   from {
     opacity: 0;
     transform: scale(0.9);
   }

   to {
     opacity: 1;
     transform: scale(1);
   }
 }

 .sol {
   animation: girar 5s linear infinite;
 }

 .lua {
   animation: piscar 2s ease-in-out infinite;
 }

 @keyframes girar {
   from {
     transform: rotate(0deg);
   }

   to {
     transform: rotate(360deg);
   }
 }

 @keyframes piscar {

   0%,
   100% {
     opacity: 1;
   }

   50% {
     opacity: 0.6;
   }
 }

 .info {
   text-align: left;
   font-size: 15px;
   line-height: 1.8;
   background: rgba(0, 0, 0, 0.2);
   padding: 10px;
   border-radius: 10px;
   margin-top: 10px;
 }

 .info b {
   color: #ffe600;
 }